<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Stage2___FileAttributeSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Stage2___FileAttributeSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Stage2___FileAttributeSync.Properties.Settings>
      <setting name="SourceSPOSiteURL" serializeAs="String">
        <value>https://m365x938597.sharepoint.com/sites/sourceSite</value>
      </setting>
      <setting name="DocLibDisplayName" serializeAs="String">
        <value>source1</value>
      </setting>
      <setting name="LisLibDisplayName" serializeAs="String">
        <value />
      </setting>
      <setting name="Office365Username" serializeAs="String">
        <value>admin@M365x938597.onmicrosoft.com</value>
      </setting>
      <setting name="Office365Password" serializeAs="String">
        <value />
      </setting>
      <setting name="MetadataFileExportLocation" serializeAs="String">
        <value>c:\\export\\source.csv</value>
      </setting>
      <setting name="SPOQueryBatchSize" serializeAs="String">
        <value>100</value>
      </setting>
    </Stage2___FileAttributeSync.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Stage2___FileAttributeSync.Properties.Settings>
      <setting name="DestinationSPOSiteURL" serializeAs="String">
        <value>https://m365x907420.sharepoint.com/sites/destinationSite</value>
      </setting>
      <setting name="DestinationDocLibDisplayName" serializeAs="String">
        <value>Destination1</value>
      </setting>
      <setting name="DestinationLisLibDisplayName" serializeAs="String">
        <value />
      </setting>
      <setting name="DestinationOffice365Username" serializeAs="String">
        <value>admin@M365x907420.onmicrosoft.com</value>
      </setting>
      <setting name="DestinationOffice365Password" serializeAs="String">
        <value />
      </setting>
      <setting name="ProgramWorkingDir" serializeAs="String">
        <value>C:\migration\working\UpdatePS.ps1</value>
      </setting>
      <setting name="ProgramLogging" serializeAs="String">
        <value>C:\migration\working\ProgramRun.log</value>
      </setting>
    </Stage2___FileAttributeSync.Properties.Settings>
  </userSettings>
</configuration>